<p id="notice"><% notice %></p>
<p id="item_show_image">
  <%= image_tag @item.image_url, :style => "height:300px" %>
</p>

<p id="item_show_title">
  <%= @item.title %>
</p>

<p id="item_show_desc">
  <%= @item.description %>
</p>

<p id="item_show_price">
  <%= number_to_currency(Filteranddiscount.rundiscount(@item.discount,@item.price), :unit => "&euro;")%>
</p>


<p id="item_show_link">
 <% if current_user and current_user.admin == 'manager'%>
<%= link_to 'Edit', edit_item_path(@item) %> |
    <% end%>
<%= link_to 'Back to Store', items_path %>
  </p>