<center><h3>Click image to read the instruction</h3></center>
<a><%= image_tag("store.jpg", id: 'store') %></a>
<a><%= image_tag("storeowner.jpg", id: 'storeowner') %></a>
<a><%= image_tag("storemanager.jpg", id: 'storemanager') %></a>
<a><%= image_tag("storestaff1.jpg", id: 'storestaff1') %></a>
<a><%= image_tag("storestaff2.jpg", id: 'storestaff2') %></a>
<a><%= image_tag("storestaff3.jpg", id: 'storestaff3') %></a>

  <div id="aaa"></div>

<script type="text/javascript" src="/assets/about.js"></script>