<h1>Listing orders</h1>
      <br/>
<table>
  <tr>
    <th>Receiver name</th>
    <th>Receiver address</th>
    <th>Receiver mobile</th>
    <th>Order date</th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.receiver_name %></td>
    <td><%= order.receiver_address %></td>
    <td><%= order.receiver_mobile %></td>
    <td><%= order.order_date %></td>
    <td><%= link_to 'Show', order %></td>
   <% link_to 'Edit', edit_order_path(order) %>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<% link_to 'New Order', new_order_path %>
